.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flip-X:hover .flip-card-inner {
  transform: rotateX(180deg);
}
.flip-card.flip-Y:hover .flip-card-inner {
  transform: rotateY(-180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
}

.flip-X .flip-card-back {
  transform: rotateX(180deg);
}
.flip-Y .flip-card-back {
  transform: rotateY(-180deg);
}
