html {
  scroll-behavior: smooth;
}

.hr-enlarge {
  width: calc(100% + 3rem);
  margin-left: -1.5rem;
}

nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 1.5px;
  background: #000;
  transition: width 0.3s;
}
.dark nav a::after {
  background: #fff;
}

nav a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

#home {
  min-height: min(calc(100svh - 76px), 640px);
}

@media (min-width: 768px) {
  #home {
    min-height: min(calc(100svh - 92px), 640px);
  }
}

.h-less-20 {
  height: calc(100% - 80px);
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flip-X:hover .flip-card-inner {
  transform: rotateX(180deg);
}
.flip-card.flip-Y:hover .flip-card-inner {
  transform: rotateY(-180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
}

.flip-X .flip-card-back {
  transform: rotateX(180deg);
}
.flip-Y .flip-card-back {
  transform: rotateY(-180deg);
}

/* Colors for the Tech Stack logos */

/* HTML */
.fa-html5 {
  color: #e34f26;
}

/* CSS */
.fa-css3-alt {
  color: #1572b6;
}

/* JavaScript */
.fa-js {
  color: #f7df1e;
}

/* React */
.fa-react {
  color: #61dafb;
}

/* Node.js */
.fa-node-js {
  color: #3c873a;
}

/* Python */
.fa-python {
  color: #306998;
}

/* map location */
.fa-map-location-dot {
  color: #306998;
}

.fa-sun {
  color: #ffb300;
}
